/* 
@theme shcherbakov-custom-theme
@auto-scaling true
*/

@import 'default';

:root {
  --slides-background: white;
  --slides-width: 1280px;
  --slides-height: 960px;
  --header-height: 40px;
}

body {
  background-color: var(--slides-background);
}

section {
  font-size: 40px;
  padding: 0px;
  justify-content: start;
  margin: 10px;
}

section.cover {
  justify-content: center;
  flex-direction: column;
}

h2 {
  padding-left: 10px;
  font-size: 30px;
  color: aliceblue;
  display: block;
  background-color: teal;
  height: var(--header-height);
  width: var(--slides-width);
}

h2 {
  font-size: 30px;
}

footer {
  bottom: 10px;
}

.two-columns {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.two-columns > p {
  display: block;
}

.two-columns > *:first-child img {
  max-height: calc(var(--slides-height) - var(--header-height) - 300px);
}

/* line-numbers, see https://github.com/marp-team/marp/discussions/164 */
pre ol {
  all: unset;
  display: block;
  counter-reset: line-number 0;
}
pre ol li {
  all: unset;
  display: list-item;
  list-style: none;
}
pre ol li::before {
  content: counter(line-number) ': ';
  counter-increment: line-number;
}
