/* @theme shcherbakov-custom-theme */

@import 'default';

:root {
  --slides-background: white;
  --slides-width: 1280px;
  --slides-height: 960px;
  --header-height: 40px;
}

body {
  background-color: var(--slides-background);
}

section {
  width: var(--slides-width);
  font-size: 40px;
  padding: 0px;
  justify-content: start;
  margin: 10px;
}

section.cover {
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 30px;
  color: aliceblue;
  display: block;
  background-color: teal;
  height: var(--header-height);
  width: var(--slides-width);
}

h2 {
  font-size: 30px;
}

footer {
  bottom: 10px;
}

.columns {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.columns > p {
  display: block;
}

.columns > *:first-child img {
  max-height: calc(var(--slides-height) - var(--header-height) - 300px);
}
